:root {
  --main-bg-color: rgb(17, 11, 11);
  --bnt-bg-operador-color: rgb(229, 187, 132);
  --bnt-color: white;
  --emph-color: rgb(203, 91, 41);
}

body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  font-family: 'Open Sans', sans-serif;
  background: black;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgb(0, 0, 0, 0.6);
}

.display {
  background: black;
  color: var(--bnt-color);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
  border-bottom-color: red;
}

.display h1 {
  margin: 0;
  padding: 25px;
  font-size: 35px;
  font-weight: 100;
  overflow-x: auto;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*  Buttons */
.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;

  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none; 
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--main-bg-color);
  color: white;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1.5px);
}

button:focus {
  outline: none;
}
.operador {
  background: var(--main-bg-color);
  font-size: 30px;
}

.clear {
  background: var(--main-bg-color);
  color: var(--bnt-color);
}

.clear:hover {
 filter: brightness(85%);
}
.equals {
  background-color: var(--emph-color);
  color: white;
  border-radius: 50%;
  margin: auto;
  height: 50px;
  width: 50px;
}

.emphasis {
  background: none;
  color: var(--emph-color);
}

/* Responsividade - Large Smartphone vertical*/
@media screen and (max-width: 600px) {
  #app{
    width: 90%;
  }

  .display h1 {
  font-size: 29px; 
  }
}

nav {
  width: 50%;
  float: none;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: white; */
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 40px;
}


nav a {
  color: var(--emph-color);
}